.button-premium {
    box-shadow: 0px 0px 25px 0px rgba(255, 153, 0, 0.50);
    background: linear-gradient(92deg, #FF8900 5.22%, #FF4D00 109.66%);
}

.paly-btn.playing .play-btnn {
    display: none;
}

.paly-btn .pause-btnn {
    display: none;
}

.paly-btn.playing .pause-btnn {
    display: block;
}

.club-avatar {
    box-shadow: 0px 11px 31px 0px rgba(140, 189, 226, 0.50);
    background-image: url('../../assets/img/clients/Bitmap.png');
}

.radio {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0; 
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    border: 2px solid #555;
  }
  
  .radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .radio input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radio input:checked ~ .checkmark:after {  
    display: block;
  }
  
  .radio .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    background: url(checkmark.svg) center;
  }